body {
  background-color: grey;
  color: #F8F8FF; /* off-white color, you can adjust this value if needed */
  text-align: center;
}


/* span.site-footer-owner,
span.site-footer-credits {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */
